.map {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    height: 564px;
    width: 450px;
}

@media screen and (min-width: 651px) and (max-width: 1400px) {
  .map {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    height: 800px;
    width: 600px;
}
}