.title{
    margin: 3px;
}

.flag{
    width: 450px;
    background: rgb(207, 207, 207);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 1%;
    margin: 5%;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.center{
    width: 60%;
    margin: auto;
}