.mainSearch{
  margin: auto;
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.searchBox{
  display: flex;
  justify-content: space-evenly;
}

.container{
  display: flex;
  justify-content: space-evenly;
}

.containerElements{
  width: 32%;
  box-sizing: border-box;
  margin-top: 1%;
  /* border-color: black;
  border-radius: 2%;
  border-width: 5px;
  border-style: solid; */
  display: flex; /* to center item */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
} 

.error{
color:red;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  box-sizing: border-box;
}

.searchPrompt{
  margin-right: 1%;
}

.custom-select {
  appearance: none; /* Remove default styling */
  padding: 8px 12px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add border as desired */
  border-radius: 4px; /* Add border radius as desired */
  background-color: #fff; /* Set background color */
  color: #333; /* Set text color */
}

/* Style the dropdown arrow icon */
.custom-select::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none; /* Make arrow icon unclickable */
}

/* Style the selected option */
.custom-select option:checked {
  background-color: #f0f0f0; /* Set background color of selected option */
  font-weight: bold; /* Add font weight to highlight selected option */
}

.contentContainer {
  box-sizing: border-box;
  margin-top: 1%;
  display: flex; /* to center item */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.top{
  margin-top: 4.5%;
}

.custom-spinner-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  color: white;
}

.spinner-text {
  color: white;
  margin-top: 10px;
}

.font{
  color: var(--button-color);
}

/* Media query for small screens */
@media screen and (max-width: 650px) {
  .mainSearch{
    margin: auto;
    width: 70%;
  }

  .container{
    display: initial;
  }
  
  .containerElements {
    width: 100%;
    margin-bottom: 5%;
    /* border-color: black;
    border-radius: 2%;
    border-width: 5px;
    border-style: solid; */
  }

  .navSpace{
    margin-top: 5%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 651px) and (max-width: 1400px) {

  .mainSearch{
    margin: auto;
    width: 60%;
  }

  .container{
    display: initial;
  }
  
  .containerElements {
    width: 100%;
    box-sizing: initial;
    /* border-color: black;
    border-radius: 2%;
    border-width: 5px;
    border-style: solid; */
  }

}