<!-- <ngx-spinner size="medium" type="line-spin-fade"></ngx-spinner> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- data selection -->
<div class="mainSearch">
  <div class="searchBox">
    <select (change)="loadCountryData()" id="country" class="custom-select">
      <option *ngFor="let option of listOfNames">{{option}}</option>
    </select>
    <app-themeswitch></app-themeswitch>
  </div>
  <div *ngIf="countryError" class="error center">
    Country not found
  </div>
</div>

<!-- data display -->
<div class="container">
  <div class="containerElements navSpace" *ngIf="cards">
    <div>
      <div>
        <app-sectioncard [cardTitle]="'Location Data'" [values]="[region, subregion, landArea, latLong, timezone]"
          [lables]="['Region: ','Subregion: ','Land area: ','Latitude and Longitude: ','Time zone: ']">
        </app-sectioncard>
      </div>
      <div class="top">
        <app-sectioncard [cardTitle]="'Country Information'"
          [values]="[capital, population, drivingSide, weekBegins, languages, demonyms]"
          [lables]="['Capital: ','Population: ','Driving side: ','Week starts on: ','National Language/s: ','Demonyms:']">
        </app-sectioncard>
      </div>
      <div class="top">
        <app-sectioncard [cardTitle]="'Global Properties'" [values]="[pendentStatus, unMember, gini]"
          [lables]="['Dependant status: ','Un member: ','Gini index rating: ']">
        </app-sectioncard>
      </div>
    </div>
  </div>
  <!-- images -->
  <div class="containerElements" *ngIf="cards">
    <div>
      <app-coatofarmscard [url]="coatOfArms"></app-coatofarmscard>
      <app-flagcard [url]="flag"></app-flagcard>
    </div>
  </div>
  <!-- map -->
  <div class="containerElements mapsContainer" div *ngIf="cards">
    <app-map [lat]="latLong[0]" [long]="latLong[1]" [scale]="scale"></app-map>
  </div>
</div>

<!-- references -->
<div *ngIf="cards" class="contentContainer">
  <p class="font"> Data obtained from <a href="https://restcountries.com/">restcountries API</a> </p>
</div>