/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
/* @import "primeflex/primeflex.css"; */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css"; 
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";

body {background-color: var( --background-color);}

:root {
    --background-color: #ffffff;
    --primary-selection-color: #3C275C;
    --secondary-selection-color: #8268A8;
    --primary-image-color: #A9A769;
    --secondary-image-color: #F5F3B0;
    --button-color: #474744;
    --shadow-color:rgba(0, 0, 0, 0.2);
  }
  
  .dark-theme {
    --background-color: #676060;
    --primary-selection-color: #8268A8;
    --secondary-selection-color: #3C275C;
    --primary-image-color: #F5F3B0;
    --secondary-image-color: #A9A769;
    --button-color: #ffffff;
    --shadow-color:rgba(255, 255, 255, 0.2);
  }
